In [1]:
import findspark 
findspark.init('C:\MyProgz\spark-2.2.0-bin-hadoop2.7')
import pyspark
sc = pyspark.SparkContext(appName="Learn SQL")
print(sc)

<SparkContext master=local[*] appName=Learn SQL>

In [3]:
from pyspark.sql import SQLContext, Row
url = "jdbc:mysql://127.0.0.1:3306/botkit"
sqlContext = SQLContext(sc)
df_an = (sqlContext.read.format('jdbc')
         .options(url='jdbc:mysql://127.0.0.1:3306/striiv',
                  user='knowieadmin',
                  password='kn0wie?12!',
                  dbtable='annotation',
                  driver='com.mysql.jdbc.Driver')
         .load()
         )
df_an.show()

df_ae = (sqlContext.read.format('jdbc')
         .options(url='jdbc:mysql://127.0.0.1:3306/striiv',
                  user='knowieadmin',
                  password='kn0wie?12!',
                  dbtable='annotation_event',
                  driver='com.mysql.jdbc.Driver')
         .load()
         )

df_ae.show()

+--------------------+------------+--------------------+------+---+---------+-------+-----+-------------+
|         marker_type|marker_index|            filename|userid| id|marker_id|setting|notes|    timestamp|
+--------------------+------------+--------------------+------+---+---------+-------+-----+-------------+
|start_Patient But...|           0|Sub111_TestCSV020...|   111|  1|        0|   null| null|1.486446378E9|
|end_Patient Butto...|           0|Sub111_TestCSV020...|   111|  2|        0|   null| null|1.486446378E9|
|start_Patient But...|           0|Sub111_TestCSV020...|   111|  3|        1|   null| null|1.486446473E9|
|end_Patient Butto...|           0|Sub111_TestCSV020...|   111|  4|        1|   null| null|1.486446473E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|  5|        2|   null| null|1.486448052E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111|  6|        2|   null| null|1.486448077E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|  7|        3|   null| null|1.486448179E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111|  8|        3|   null| null|1.486448196E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|  9|        4|   null| null|1.486448248E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111| 10|        4|   null| null|1.486448266E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111| 11|        5|   null| null|1.486448289E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111| 12|        5|   null| null| 1.48644831E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111| 13|        6|   null| null|1.486448331E9|
|end_Obstructive A...|           0|Sub111_TestCSV020...|   111| 14|        6|   null| null|1.486448342E9|
| start_Hypopnea_data|           0|Sub111_TestCSV020...|   111| 15|        7|   null| null|1.486448356E9|
|   end_Hypopnea_data|           0|Sub111_TestCSV020...|   111| 16|        7|   null| null|1.486448379E9|
|start_Relative De...|           0|Sub111_TestCSV020...|   111| 17|        8|   null| null|1.486448342E9|
|end_Relative Desa...|           0|Sub111_TestCSV020...|   111| 18|        8|   null| null|1.486448365E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111| 19|        9|   null| null|1.486448393E9|
|end_Obstructive A...|           0|Sub111_TestCSV020...|   111| 20|        9|   null| null|1.486448404E9|
+--------------------+------------+--------------------+------+---+---------+-------+-----+-------------+
only showing top 20 rows

+--------------------+------------+--------------------+------+----+---------+-------+-----+-------------+
|         marker_type|marker_index|            filename|userid|  id|marker_id|setting|notes|    timestamp|
+--------------------+------------+--------------------+------+----+---------+-------+-----+-------------+
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|null|        0|   null| null|1.486448052E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111|null|        0|   null| null|1.486448077E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|null|        1|   null| null|1.486448179E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111|null|        1|   null| null|1.486448196E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|null|        2|   null| null|1.486448248E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111|null|        2|   null| null|1.486448266E9|
|     start_RERA_data|           0|Sub111_TestCSV020...|   111|null|        3|   null| null|1.486448289E9|
|       end_RERA_data|           0|Sub111_TestCSV020...|   111|null|        3|   null| null| 1.48644831E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111|null|        4|   null| null|1.486448331E9|
|end_ObstructiveAp...|           0|Sub111_TestCSV020...|   111|null|        4|   null| null|1.486448342E9|
| start_Hypopnea_data|           0|Sub111_TestCSV020...|   111|null|        5|   null| null|1.486448356E9|
|   end_Hypopnea_data|           0|Sub111_TestCSV020...|   111|null|        5|   null| null|1.486448379E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111|null|        6|   null| null|1.486448393E9|
|end_ObstructiveAp...|           0|Sub111_TestCSV020...|   111|null|        6|   null| null|1.486448404E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111|null|        7|   null| null|1.486448418E9|
|end_ObstructiveAp...|           0|Sub111_TestCSV020...|   111|null|        7|   null| null|1.486448429E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111|null|        8|   null| null|1.486448438E9|
|end_ObstructiveAp...|           0|Sub111_TestCSV020...|   111|null|        8|   null| null|1.486448453E9|
|start_Obstructive...|           0|Sub111_TestCSV020...|   111|null|        9|   null| null|1.486448465E9|
|end_ObstructiveAp...|           0|Sub111_TestCSV020...|   111|null|        9|   null| null|1.486448476E9|
+--------------------+------------+--------------------+------+----+---------+-------+-----+-------------+
only showing top 20 rows

In [5]:
df_uber = sqlContext.read.load('file:///Users/Tran/git/_learning/learning_spark/data/uber.csv', 
                               format='com.databricks.spark.csv', header='true', inferSchema='true')
df_uber.dtypes

[('dispatching_base_number', 'string'),
 ('date', 'string'),
 ('active_vehicles', 'int'),
 ('trips', 'int')]

In [7]:
df_uber.describe().show()

+-------+-----------------------+--------+------------------+------------------+
|summary|dispatching_base_number|    date|   active_vehicles|             trips|
+-------+-----------------------+--------+------------------+------------------+
|  count|                    354|     354|               354|               354|
|   mean|                   null|    null|1307.4350282485875|11667.316384180791|
| stddev|                   null|    null|1162.5106256246545|10648.284864561118|
|    min|                 B02512|1/1/2015|               112|               629|
|    max|                 B02765|2/9/2015|              4395|             45858|
+-------+-----------------------+--------+------------------+------------------+

In [8]:
df_uber.filter(df_uber.trips > 2000).show()

+-----------------------+--------+---------------+-----+
|dispatching_base_number|    date|active_vehicles|trips|
+-----------------------+--------+---------------+-----+
|                 B02764|1/1/2015|           3427|29421|
|                 B02682|1/1/2015|            945| 7679|
|                 B02617|1/1/2015|           1228| 9537|
|                 B02598|1/1/2015|            870| 6903|
|                 B02598|1/2/2015|            785| 4768|
|                 B02617|1/2/2015|           1137| 7065|
|                 B02682|1/2/2015|            890| 5506|
|                 B02764|1/2/2015|           3147|19974|
|                 B02617|1/3/2015|           1188|10664|
|                 B02598|1/3/2015|            818| 7432|
|                 B02682|1/3/2015|            915| 8010|
|                 B02764|1/3/2015|           3215|29729|
|                 B02682|1/4/2015|            812| 5621|
|                 B02598|1/4/2015|            746| 5223|
|                 B02617|1/4/2015|           1088| 7729|
|                 B02764|1/4/2015|           2862|20441|
|                 B02682|1/5/2015|            951| 6012|
|                 B02617|1/5/2015|           1218| 7899|
|                 B02764|1/5/2015|           3387|20926|
|                 B02598|1/5/2015|            907| 5798|
+-----------------------+--------+---------------+-----+
only showing top 20 rows

In [9]:
df_uber.filter((df_uber[3] > 20000) & (df_uber[3] < 25000)).show()

+-----------------------+---------+---------------+-----+
|dispatching_base_number|     date|active_vehicles|trips|
+-----------------------+---------+---------------+-----+
|                 B02764| 1/4/2015|           2862|20441|
|                 B02764| 1/5/2015|           3387|20926|
|                 B02764|1/19/2015|           2958|22750|
+-----------------------+---------+---------------+-----+

In [10]:
df_uber.select(max(df_uber[3])).show()
df_uber.select(df_uber[1], df_uber[2]).show()

TypeError: Column is not iterable

In [12]:
df_uber.groupby(df_uber['date']).count().show()

+---------+-----+
|     date|count|
+---------+-----+
|2/27/2015|    6|
|1/15/2015|    6|
| 1/9/2015|    6|
| 1/2/2015|    6|
|2/25/2015|    6|
|2/13/2015|    6|
| 1/5/2015|    6|
|1/20/2015|    6|
| 2/5/2015|    6|
|1/25/2015|    6|
|1/31/2015|    6|
|1/30/2015|    6|
|2/21/2015|    6|
| 2/9/2015|    6|
|2/22/2015|    6|
|1/14/2015|    6|
|1/13/2015|    6|
|2/28/2015|    6|
|2/19/2015|    6|
| 2/3/2015|    6|
+---------+-----+
only showing top 20 rows

In [13]:
df_uber.registerTempTable('uber')
sqlContext.sql("Select * from uber").show()

+-----------------------+--------+---------------+-----+
|dispatching_base_number|    date|active_vehicles|trips|
+-----------------------+--------+---------------+-----+
|                 B02512|1/1/2015|            190| 1132|
|                 B02765|1/1/2015|            225| 1765|
|                 B02764|1/1/2015|           3427|29421|
|                 B02682|1/1/2015|            945| 7679|
|                 B02617|1/1/2015|           1228| 9537|
|                 B02598|1/1/2015|            870| 6903|
|                 B02598|1/2/2015|            785| 4768|
|                 B02617|1/2/2015|           1137| 7065|
|                 B02512|1/2/2015|            175|  875|
|                 B02682|1/2/2015|            890| 5506|
|                 B02765|1/2/2015|            196| 1001|
|                 B02764|1/2/2015|           3147|19974|
|                 B02765|1/3/2015|            201| 1526|
|                 B02617|1/3/2015|           1188|10664|
|                 B02598|1/3/2015|            818| 7432|
|                 B02682|1/3/2015|            915| 8010|
|                 B02512|1/3/2015|            173| 1088|
|                 B02764|1/3/2015|           3215|29729|
|                 B02512|1/4/2015|            147|  791|
|                 B02682|1/4/2015|            812| 5621|
+-----------------------+--------+---------------+-----+
only showing top 20 rows